
//icon size css

.icon-size-xs{
  font-size: 22px;
}
.icon-size-sm{
  font-size: 26px;
}
.icon-size-default{
  font-size: 30px;
}
.icon-size-md{
  font-size: 38px;
}
.icon-size-lg{
  font-size: 46px;
}

