.effect-1 {
  position: absolute;
  top: -70px;
  left: -70px;
  width: 400px;
  height: 400px;
}
.effect-2 {
  position: absolute;
  bottom: -70px;
  right: -70px;
  width: 400px;
  height: 400px;
}
.opacity-1 {
  opacity: 0.05;
}


.sm-effect-1 {
  position: absolute;
  top: -60px;
  left: -20px;
  width: 180px;
  height: 180px;
}
.sm-effect-2 {
  position: absolute;
  bottom: -60px;
  right: -20px;
  width: 180px;
  height: 180px;
}