.full-height {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}


//or login signup option
.other-login-signup{
  text-align: center;
  overflow: hidden;
  .or-login-signup{
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 0 25px;
    z-index: 1;
    &:before{
      display: inline-block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $color-ui-02;
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      z-index: 1;
    }
    &:after{
      display: inline-block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $color-ui-02;
      right: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      z-index: 1;
    }
  }
}




@media (min-width: 320px) and (max-width: 575px){
  .login-signup-wrap.p-5{
    padding: 1.5rem !important;
  }
  .social-login-signup{
    li{
      a.btn{
        margin-bottom: 5px;
      }
    }
  }
}