$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-light-italic-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-light-italic-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-light-italic-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-light-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-light-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-regular-italic-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-regular-italic-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-regular-italic-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-regular-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-regular-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-regular-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-bold-italic-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-bold-italic-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-bold-italic-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-italic-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-italic-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-italic-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url($font_path + 'proxima_nova/proxima-nova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url($font_path + 'proxima_nova/proxima-nova-bold-webfont.woff') format('woff'),
  url($font_path + 'proxima_nova/proxima-nova-bold-webfont.ttf') format('truetype'),
  url($font_path + 'proxima_nova/proxima-nova-bold-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 600;
  font-style: normal;
}