.subscribe-form input.button {
  position: absolute;
  right: 8px;
  border-radius: 30px;
  padding: initial;
  top: 8px;
  bottom: 8px;
  width: 30%;

}


.hero-countdown-wrap h2, .hero-countdown-wrap h5{
  color: $white !important;
}
